@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('styles/CommonClassstyle.css');
@import url('styles/Headers.css');
@import url('styles/Gradients.css');

:root {
    --bg-1: #161B22;
    --bg-2: #0D1014DD;
    --bg-3: #0A0C0F;
    --bg-4: #010409;

    --border: #30363D;
    --text-1: white;
    --text-2: #697078;
}

* {
    color: white;
    font-family: 'Gabarito', sans-serif;
}


/* ---------------------------- Sections & Scroll ---------------------------- */

body {
    height: 100dvh;
    width: 100vw;
}

main{
    background-color:  var(--bg-4);
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

main{
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
} 

section {
    position: relative;

    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > * {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

section > .data{
    
    /* border: 1px dashed red; */

    z-index: 5;
    
    top: calc(3.7rem + 3px + 25px);
    height: calc(100dvh - 3.7rem - 1px - 50px);
    width: min(120ch ,calc(100vw - 50px));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

section > .gradient{
    top: 0px;
}


/* ---------------------------- Home Section ---------------------------- */

#home_section h1 {
    font-size: 3rem;
    font-weight: 100;
}

#home_section h1 span {
    font-size: 2rem;
    font-weight: 500;
}

#home_section p {
    top: calc(100% - 2rem);
    font-weight: 400;
    width: fit-content;
    opacity: 0.5; 
    transition: 100ms ease-in-out opacity;
}

#home_section p:hover {
    opacity: 1;
}

/* ---------------------------- About Section ---------------------------- */

#about_section .terminal {
    height: 100%;
    width: 100%;
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: var(--bg-4);
}

#about_section .terminal .t-head {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--bg-1);
    border-bottom: 2px solid var(--border);
    height: 2.5rem;
    font-size: 1rem;
}

#about_section .terminal .t-head .button{
    top:  calc((2.5rem - 0.75rem) / 2);
    left: calc((2.5rem - 0.75rem) / 2);
}

#about_section .terminal .t-head .button > * {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
}

#about_section .terminal .t-head .button > *:nth-child(1) { background-color: #FC5C58; }

#about_section .terminal .t-head .button > *:nth-child(2) { background-color: #FDBE46; }

#about_section .terminal .t-head .button > *:nth-child(3) { background-color: #39C94E; }



#about_section .terminal .t-body {
    
    height: calc(100% - 2.5rem - 20px - 1px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    overflow: auto;
}

#about_section .terminal .t-body .t-text-green-bold {
    color: rgb(41, 255, 41);
    text-decoration: bold;
}



#about_section .terminal .t-body .focus * {
    color: var(--text-2);
    font-weight: 500;
}

#about_section .terminal .t-body .focus h1,
#about_section .terminal .t-body .focus h2,
#about_section .terminal .t-body .focus b {
    color: white;
}

#about_section {
    --m : 1.3;
}

@media (max-width: 520px) {
    #about_section {
        --m : 1.2;
    }
}

@media (max-width: 470px) {
    #about_section {
        --m : 1.1;
    }
}

@media (max-width: 430px) {
    #about_section {
        --m : 1.0;
    }
}

#about_section .terminal .t-body .focus ul{
    padding-left: calc(10px + 1ch);
}

#about_section .terminal .t-body .mono {
    font-weight: 500;
    font-size: calc(1.0rem * var(--m));
}

#about_section .terminal .t-body .focus h1{
    font-size: calc(1.4rem * var(--m));
    padding-top: calc(.6rem * var(--m) * 1.2);
    padding-bottom: calc(.3rem * var(--m) * 1.2);
}

#about_section .terminal .t-body .focus h2{
    font-size: calc(1.2rem * var(--m));
    padding-top: calc(.3rem * var(--m) * 1.2);
    padding-bottom: calc(.3rem * var(--m) * 1.2);
}

#about_section .terminal .t-body .focus p,
#about_section .terminal .t-body .focus li{
    font-size: calc(1rem * var(--m));
    padding-block: calc(.3rem * var(--m) * 1.2);
}

/* ---------------------------- Project Section ---------------------------- */

#project_section {
    --accent: #9fa4ee;
}

#project_section .starting_tag,
#project_section .ending_tag{
    width: 100%;
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--accent);
}

#project_section .project_list{
    position: relative;
    width: 100%;
    height: calc(100% - 2 * 1.3rem - 10px);
    margin-block: 10px;
    padding-left: 4ch;

    width: calc(100% - 6ch);
    border-left: 1px solid var(--accent);
    overflow: auto;
}

#project_section .project_list ul{
    list-style-type: none;
    height: 100%;
}


#project_section .project_list ul li{
    background-color: var(--bg-3);
    background-image: 

    radial-gradient(at 100% 100%, hsla(283, 87%, 76%, 0.05) 0px, transparent 70%);
    filter: saturate(150%);

    padding: 12px 14px;
    border-radius: 10px;
    flex: 1;
    position: relative;

    border: 1px solid var(--border);
}

#project_section .project_list ul li p{
    color: var(--text-2);
    padding-block: 0.5rem;
}

#project_section .project_list ul li p span{
    color: var(--text-2);
}

#project_section .project_list ul li a{
    position: absolute;
    top: calc( 12px);
    left: calc(100% - 1.6rem - 12px);
}

#project_section .project_list ul li a img{
    height: 1.6rem;
}

#project_section .project_list ul li h2{
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 400px) {
    .hidden_on_phone{
        display: none;
        font-size: 0px;
        line-height: 0px;
    }
}

@media (min-width: 401px) {
    .hidden_on_larger{
        display: none;
    }
}


/* ---------------------------- Skills Section ---------------------------- */

#skills_section .data .big_wrapper {
    width: 100%;
}

#skills_section .data .big_wrapper .wrapper:nth-of-type(2) article {
    width: calc((100% - 20px - 2px) / 2 );
}

#skills_section .data .big_wrapper article {
    border: 2px solid var(--border);
    padding: 12px;
    border-radius: 10px;
}

#skills_section .data .big_wrapper article h3 {
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: 12px;
}

#skills_section .data .big_wrapper article ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

#skills_section .data .big_wrapper article ul li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--border);
    padding: 0.2rem;
    border-radius: 2rem;
    
}

#skills_section .data .big_wrapper article ul li p{
    font-size: 1.2rem;
    padding-right: 0.6rem;
}

#skills_section .data .big_wrapper article ul img {
    background-color: var(--bg-1);
    padding: 0.3rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100%;
}




/* ---------------------------- Skill Badges Section ---------------------------- */

/* #skill_badges_section .data{ border: 2px dashed green; }

#skill_badges_section {
    --badge_width: calc( (120ch - 40px) / 3);
}
 
@media (max-width: calc(120ch + 50px)) {
    #skill_badges_section {
        --badge_width: calc( (1100px - 40px) / 2);
    }
}

#skill_badges_section ul {
    list-style-type: none;
    flex-wrap: wrap;
}

#skill_badges_section h1 {
    padding-bottom: 25px;
}

#skill_badges_section ul li {
    max-width: var(--badge_width);
}

#skill_badges_section ul li img {
    width: 100%;
    border-radius: 1ch;
} */

